@import "tailwindcss";

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  /* --color-light-bg: var(--light-bg); */
  --color-card: var(--card);
  --color-border: var(--border);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-muted-foreground: var(--muted-foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --animate-pulse-subtle: pulse-subtle 4s ease-in-out infinite;
  --animate-meteor: meteor 5s linear infinite;

  @keyframes pulse-subtle {

    0%,
    100% {
      opacity: 1;
    }

    50% {
      opacity: 0.2;
    }
  }
}

@keyframes meteor {
  0% {
    transform: rotate(215deg) translateX(0);
    opacity: 1;
  }

  70% {
    opacity: 1;
  }

  100% {
    transform: rotate(215deg) translateX(-500px);
    opacity: 0;
  }
}

@layer base {
  :root {
    --background: #F9FCF8;
    --foreground: #0f1729;
    --card: #ffffff;
    --border: #e1e7ef;
    --primary: #7969c9;
    --primary-gradient: linear-gradient(135deg, #3f85f7, #bc51f5);
    --primary-foreground: #F9FCF8;
    --muted-foreground: #94a3b8;
  }

  .dark {
    --background: #05080f;
    --foreground: #e1e7ef;
    --card: #0b111e;
    --primary: #7f6ce0;
    --primary-foreground: #e3efe1;
    --border: #222f44;
    --muted-foreground: #64748b;
    --primary-gradient: linear-gradient(135deg, #93c5fd, #c4b5fd);
  }
}

@utility bg-gradient-primary {
  background: var(--primary-gradient);
}

@utility text-gradient-primary {
  background: var(--primary-gradient);
  -webkit-background-clip: text;
  color: transparent;
}

@utility star {
  @apply absolute rounded-full bg-white;
  box-shadow: 0 0 10px 2px rgba(255, 255, 255, 0.4)
}

@utility meteor {
  @apply absolute bg-linear-to-r from-white via-white to-transparent rounded-full;
  box-shadow: 0 0 10px 2px rgba(255, 255, 255, 0.4)
}

@utility light-bg {
  background: radial-gradient(circle at 15% 15%, #E0CFFF 0%, transparent 60%),
    radial-gradient(circle at 85% 10%, #C7F6FF 0%, transparent 60%),
    radial-gradient(circle at 50% 50%, #FFFFFF 0%, transparent 80%);
  background-color: #F8F0FF;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}